<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sales_Commission.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Sales_Commission.Properties.Settings.GESI_SalesDatabaseConnectionString"
            connectionString="Data Source=sqs031.ad.esi.adp.com\MSSFEGESIS01,1435;Initial Catalog=GESI_SalesDatabase;Persist Security Info=True;User ID=salesdb_user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Sales_Commission.Properties.Settings>
            <setting name="Connection_String" serializeAs="String">
                <value>Data Source = sqs031.ad.esi.adp.com\MSSFEGESIS01,1435;Initial Catalog=GESI_SalesDatabase;User ID = salesdb_user; Password = salesuser@123;Persist Security Info=True;</value>
            </setting>
        </Sales_Commission.Properties.Settings>
    </userSettings>
</configuration>